{% extends "base.html" %}

{% block content %}
<div class="col-lg-12">
    <h1>Expenses details</h1>
    <h3>You spent: {{ expenses.info.total_cost }} zł in {{ expenses.info.transactions }} transactions</h3>
    <table class="table table-striped">
    <tr>
        <th>Created at</th>
        <th>Category</th>
        <th>Expense name</th>
        <th>Cost</th>
        <th>Actions</th>
    </tr>
    {% for expense in expenses.objects %}
        <tr>
          <td>{{ expense.created_at }}</td>
          <td>{{ expense.category.name }}</td>
          <td>{{ expense.name }}</td>
          <td>{{ expense.cost }} zł</td>
          <td><a href="#" class="btn btn-sm btn-warning">Show description</a></td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
