{% extends "base.html" %}

{% block content %}

<div class="col-lg-12">

    <h1>Create new expense</h1>
    {% if form.errors %}
        <ul style="color: red">
        {% for error in form.errors %}
            <li><strong>{{ error }}</strong></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

    <form action="" method="post"  class="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_category">Category</label>
            <select class="form-control" name="category">
                <option value="">No category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="id_name">Expense name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="id_description">Expense description</label>
            <textarea class="form-control" rows="6" name="description"></textarea>
        </div>

        <div class="form-group">
            <label for="id_cost">Cost (PLN)</label>
            <input type="text" class="form-control" id="cost" name="cost">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>

{% endblock %}
